.personal_info{
  height: calc(100% - 64px);
  .white_bg {
    height: 100%;
  }
  h4.title {
    padding-right: 16px;
  }
  .el-button {
    margin-top: 7px;
  }  
  .el-form-item {
    margin-bottom: 0;
  }
}

 